@layer n23mSliderMulti {
  .n23mSliderMulti {
    width: 100%;
  }

  .n23mSliderMultiContainerSlider {
    width: 100%;
    height: 100%;
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    user-select: none;
  }

  .n23mSliderMultiSlideWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    will-change: transform;
  }

  .n23mSliderMultiSlide {
    height: 100%;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    top: 0;

    & > * {
      width: 100%;
      height: 100%;
    }
  }

  .n23mSliderMultiControls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .n23mSliderMultiControlsButtons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
}
