@layer n23mPicture {
  .n23mPictureFigure {
    margin: 0;
    padding: 0;
  }

  .n23mPicture {
    display: block;
    box-sizing: border-box;

    &.border {
      padding: 5px;
      border: 2px solid var(--picture-bc);
    }

    & img {
      opacity: 0;
      transition: opacity 250ms ease-in-out;
      display: grid;
      width: 100%;
      height: auto;
      max-height: var(--picture-mh, unset);
    }

    &.loaded img {
      opacity: 1;
    }
  }
}
