@layer n23mLoader {
  .n23mLoader {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: var(--loader-mh, 100%);
    color: var(--n23mTextBoxColor, var(--loader-lc, black));
    border: dashed 1px var(--n23mTextBoxColor, var(--loader-lc, black));
  }
}
