@layer n23mLoader {
  .n23mLoader {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: var(--loader-mh, 100%);
    color: var(--loader-lc, var(--n23mTextBoxColor, black));
    border: dashed 1px var(--loader-lc, var(--n23mTextBoxColor , black));
  }
}
