@layer najwer23morselsLoader {
  .najwer23morselsContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: var(--loader-mh, 100%);
    color: var(--najwer23morselsTextBoxColor, var(--loader-lc, black));
    border: dashed 1px var(--najwer23morselsTextBoxColor, var(--loader-lc, black));
  }
}
