@layer n23mGrid {
  .n23mGridFlex,
  .n23mGridContainer {
    max-width: var(--grid-wMax);
    min-width: var(--grid-wMin);
    min-height: var(--grid-mh, auto);
    padding: var(--grid-p);
    margin: var(--grid-m);
    box-sizing: border-box;
  }

  .n23mGridFlex {
    display: flex;
    justify-content: var(--grid-jc, space-between);
    column-gap: var(--grid-col-gap);
    row-gap: var(--grid-row-gap);
    align-items: var(--grid-align-items, center);
  }

  .n23mGridColumns {
    display: flex;
    column-gap: var(--grid-col-gap);
    row-gap: var(--grid-row-gap);
    flex-wrap: wrap;
    width: 100%;
  }

  .n23mGridColumns > div {
    width: calc((100% / var(--gfc)) - (((var(--gfc) - 1) / var(--gfc)) * var(--grid-col-gap)));
  }

  /* breakpoints */
  @media (max-width: 767.98px) {
    .n23mGridColumns > div {
      --gfc: var(--grid-col-mobile);
    }
  }

  @media (min-width: 768px) and (max-width: 1199.98px) {
    .n23mGridColumns > div {
      --gfc: var(--grid-col-tablet);
    }
  }

  @media (min-width: 1200px) and (max-width: 1599.98px) {
    .n23mGridColumns > div {
      --gfc: var(--grid-col-small-desktop);
    }
  }

  @media (min-width: 1600px) {
    .n23mGridColumns > div {
      --gfc: var(--grid-col-desktop);
    }
  }
}
