@layer n23mSlider {
  .n23mSliderContainer {
    width: 100%;
  }

  .n23mSliderContainerSlider {
    width: 100%;
    height: 100%;
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    user-select: none;
  }

  .n23mSlideWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    will-change: transform;
  }

  .n23mSlide {
    height: 100%;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    top: 0;

    & > * {
      width: 100%;
      height: 100%;
    }
  }

  .n23mSliderControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .n23mSliderControlsButtons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .n23mSliderCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    align-items: flex-start;
  }
}
