@layer n23mSlider {
  .n23mSlider {
    width: 100%;

    &.dragging,
    &.dragging a {
      cursor: grabbing;
    }
  }

  .n23mSliderContainerSlider {
    width: 100%;
    height: 100%;
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    user-select: none;
  }

  .n23mSliderSlideWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    will-change: transform;
    box-sizing: border-box;
    display: flex;
  }

  .n23mSliderSlide {
    height: 100%;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    top: 0;

    & > * {
      width: 100%;
      height: 100%;
    }
  }

  .n23mSliderControls {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .n23mSliderControlsButtons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .n23mSliderCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    align-items: flex-start;
  }
}
