@layer n23mFooter {
  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    position: relative;
  }

  .n23mFooter {
    .n23mFooterPush {
      /* footerContent + 75px */
      padding-bottom: 100px;
    }

    .n23mFooterContainer {
      position: absolute;
      bottom: 0;
      width: 100%;

      /* others */
      background-image: linear-gradient(to bottom, #dcdada, #eee);
      height: 100px;
    }
  }
}
