@layer n23mButton {
  .n23mButtonButton {
    position: relative; /* important for ::before positioning */
    --boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: var(--button-padding, 10px 17px);
    height: var(--button-height, auto);
    width: var(--button-width, auto);
    margin: var(--button-margin, 0);

    cursor: pointer;
    border: 1px solid var(--n23mButtonBorderColor, var(--button-borderColor, unset));
    letter-spacing: normal;
    border-radius: 8px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    background-color: var(--n23mButtonBg, var(--button-bg));
    box-shadow: none;
    transition:
      background-color 0.3s,
      box-shadow 0.3s;

    > span {
      position: relative;
      z-index: 1;
      display: inline-block;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: inherit;
      transition: filter 0.3s;
      z-index: 0;
      pointer-events: none;
      border-radius: 8px;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::before {
        filter: brightness(100%);
      }
      &:hover {
        box-shadow: var(--boxShadow);
      }
    }

    &:active::before {
      filter: brightness(0.8);
    }

    &:active {
      box-shadow: var(--boxShadow);
    }

    &:focus-visible::before {
      outline: none;
      filter: brightness(0.8);
    }

    &:focus-visible {
      outline: none;
      box-shadow: var(--boxShadow);
    }

    &:disabled {
      cursor: not-allowed;
      box-shadow: none;
      background-color: var(--n23mButtonBgDisabled, var(--button-bgDisabled));
    }
  }
}
