@layer n23mInput {
  .n23mInput {
    margin-top: 0px;
    margin-bottom: 10px;
    --iff:
      -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu,
      roboto, noto, arial, sans-serif;

    .n23mInputInput {
      display: grid;

      & input,
      & textarea {
        color: var(--input-c, black);
        font-family: var(--n23mFontFamily, var(--iff));
        font-weight: 500;
        font-size: 16px;
        border: 1px solid var(--input-cb, black);
        border-radius: 5px;
        box-sizing: border-box;
      }

      & input {
        height: 40px;
        padding: 20px 10px;
        width: 100%;
      }

      & textarea {
        field-sizing: content;
        block-size: 100%;
        max-height: 400px;
        min-height: 200px;
        padding: 10px;
        resize: vertical;
      }

      & ::placeholder {
        filter: brightness(125%);
        font-weight: 300;
      }
    }

    .n23mInputError {
      font-size: var(--najwer23snacks-input-error-font-size);
      font-family: var(--najwer23snacks-input-error-font-family);
      font-weight: var(--najwer23snacks-input-error-font-weight);
      line-height: 1;
      margin: 2px;
      color: var(--najwer23snacks-input-error-font-color);
    }
  }
}
