@layer n23mMasonry {
  .n23mMasonry {
    display: flex;
    column-gap: var(--masonry-col-gap);

    & > * {
      height: fit-content;
    }
  }

  .n23mMasonryColumn {
    width: calc((100% / var(--mc)) - (((var(--mc) - 1) / var(--mc)) * var(--masonry-col-gap)));
  }

  .n23mMasonryColumnChild {
    margin-bottom: var(--masonry-row-gap);
  }

  @media (max-width: 767.98px) {
    .n23mMasonryColumn {
      --mc: var(--masonry-col-mobile);
    }
  }

  @media (min-width: 768px) and (max-width: 1199.98px) {
    .n23mMasonryColumn {
      --mc: var(--masonry-col-tablet);
    }
  }

  @media (min-width: 1200px) and (max-width: 1599.98px) {
    .n23mMasonryColumn {
      --mc: var(--masonry-col-small-desktop);
    }
  }

  @media (min-width: 1600px) {
    .n23mMasonryColumn {
      --mc: var(--masonry-col-desktop);
    }
  }
}
