@layer n23mTextBox {
  .n23mTextBox {
    --mob: var(--textbox-ms);
    --des: var(--textbox-ds);
    --min: 400;
    --max: 1400;
    --tff:
      -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu,
      roboto, noto, arial, sans-serif;

    /* fluid text calculation */
    --cmn: min(var(--mob), var(--des));
    --cmx: max(var(--mob), var(--des));
    --fss: var(--mob);
    --fes: var(--des);
    --sdf: calc(var(--fes) - var(--fss));
    --vpr: calc(var(--max) - var(--min));
    --slp: calc(var(--sdf) / var(--vpr));
    --int: calc(var(--fss) - (var(--slp) * var(--min)));

    font-size: clamp(
      calc(var(--cmn) / 16 * 1rem),
      calc(var(--slp) * 100vw + var(--int) / 16 * 1rem),
      calc(var(--cmx) / 16 * 1rem)
    );

    line-height: var(--textbox-lh, var(--n23mTextBoxLineHeight, 1.42857));
    font-family: var(--n23mFontFamily, var(--tff));
    margin: var(--textbox-m, var(--n23mTextBoxMargin));
    color: var(--textbox-c, var(--n23mTextBoxColor));
    font-weight: var(--textbox-fw, var(--n23mTextBoxFontWeight));
  }

  .n23mTextBoxLink {
    color: var(--textbox-c, var(--n23mTextBoxColor));
    text-decoration: unset;
    transition: all 0.15s ease-in-out;
    font-weight: var(--textbox-fw , var(--n23mTextBoxFontWeight));

    &:hover,
    &:focus-visible,
    &:active {
      text-decoration: underline;
      color: var(--textbox-ch, var(--n23mTextBoxColorHover));
      font-weight: var(--textbox-fwh, var(--n23mTextBoxFontWeightHover, var(--textbox-fw)));
    }
  }
}
