@layer n23mTextBox {
  .n23mTextBox {
    --mobileFontSize: var(--textbox-ms);
    --desktopFontSize: var(--textbox-ds);
    --minViewport: 400;
    --maxViewport: 1400;
    --textBoxFontFamilyDefault:
      -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu,
      roboto, noto, arial, sans-serif;

    /* fluid text calculation */
    --clampMinSize: min(var(--mobileFontSize), var(--desktopFontSize));
    --clampMaxSize: max(var(--mobileFontSize), var(--desktopFontSize));
    --fluidStartSize: var(--mobileFontSize);
    --fluidEndSize: var(--desktopFontSize);
    --sizeDifference: calc(var(--fluidEndSize) - var(--fluidStartSize));
    --viewportRange: calc(var(--maxViewport) - var(--minViewport));
    --slope: calc(var(--sizeDifference) / var(--viewportRange));
    --intercept: calc(var(--fluidStartSize) - (var(--slope) * var(--minViewport)));

    font-size: clamp(
      calc(var(--clampMinSize) / 16 * 1rem),
      calc(var(--slope) * 100vw + var(--intercept) / 16 * 1rem),
      calc(var(--clampMaxSize) / 16 * 1rem)
    );

    line-height: var(--n23mTextBoxLineHeight, var(--textbox-lh, 1.42857));
    font-family: var(--n23mFontFamily, var(--textBoxFontFamilyDefault));
    margin: var(--n23mTextBoxMargin, var(--textbox-m));
    color: var(--n23mTextBoxColor, var(--textbox-c));
    font-weight: var(--n23mTextBoxFontWeight, var(--textbox-fw));

    & a {
      color: var(--n23mTextBoxColor, var(--textbox-c));
      text-decoration: unset;
      transition: color 0.3s ease-in-out;
      font-weight: var(--n23mTextBoxFontWeight, var(--textbox-fw));

      &:hover,
      &:focus-visible,
      &:active {
        text-decoration: underline;
        color: var(--n23mTextBoxColorHover, var(--textbox-fw, var(--textbox-ch)));
        font-weight: var(--n23mTextBoxFontWeightHover, var(--textbox-fwh, var(--textbox-fw)));
      }
    }
  }
}
